/* August Frisk | (c) 2017 */
/* Neon Light Text Effects */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    padding-top: 20px;
}
.neon-heading {
    color: #fff;
    font-family: 'Dosis', Calibri, sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 200;
    text-align: center;
}
.neon-heading.first {
    text-shadow: 0 0 10px #9D00FF,
    0 0 20px #9D00FF,
    0 0 30px #9D00FF,
    0 0 40px #9D00FF,
    0 0 50px #9D00FF,
    0 0 60px #9D00FF;
}
.neon-heading.second {
    text-shadow: 0 0 10px #33FF00,
    0 0 20px #33FF00,
    0 0 30px #33FF00,
    0 0 40px #33FF00,
    0 0 50px #33FF00,
    0 0 60px #33FF00;
    animation: pulsating 3s infinite;
}
/* Flickering */
.flickering-1 {
    animation: flickering-1 6s infinite;
}
.flickering-2 {
    animation: flickering-2 3s infinite;
}
.flickering-3 {
    animation: flickering-3 5s infinite;
}
/* Animations */
@keyframes pulsating {
    0% {
        text-shadow: 0 0 0;
        opacity: 0;
    }
    50% {
        text-shadow: 0 0 10px #33FF00,
        0 0 20px #33FF00,
        0 0 30px #33FF00,
        0 0 40px #33FF00,
        0 0 50px #33FF00,
        0 0 60px #33FF00;
        opacity: 1;
    }
    100% {
        text-shadow: 0 0 0;
        opacity: 0;
    }
}
/* Flickering effect achieved by changing opacity from 1 to 0 and back to 1 again */
@keyframes flickering-1 {
    0% { 
        opacity: 1; 
    }
    52% { 
        opacity: 1; 
    }
    55% { 
        opacity: 0; 
    }
    56% {
        opacity: 1; 
    }
    100% {
        opacity: 1; 
    }
}
@keyframes flickering-2 {
    0% { 
        opacity: 1;
    }
    62% { 
        opacity: 1;
    }
    65% { 
        opacity: 0;
    }
    66% { 
        opacity: 1; 
    }
    69% { 
        opacity: 0;
    }
    70% { 
        opacity: 1;
    }
    73% {
        opacity: 0;
    }
    74% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flickering-3 {
    0% { 
        opacity: 1; 
    }
    82% {
        opacity: 1;
    }
    84% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    87% {
        opacity: 0;
    }
    88% {
        opacity: 1;
    }
    90% { 
        opacity: 0;
    }
    91% { 
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
