/* August Frisk | (c) 2017 */
/* Animated Campfire */
body {
    background-color:#111217;
}
.fire {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-25%);
    -webkit-transform:translate(-50%,-25%);
    -moz-transform:translate(-50%,-25%);
    -ms-transform:translate(-50%,-25%);
    -o-transform:translate(-50%,-25%);
    -khtml-transform:translate(-50%,-25%);
    height:20vw;
    width:20vw;
}
.flames {
    position: absolute;
    bottom:40%;
    left:50%;
    width:60%;
    height:60%;                                          
    transform:translateX(-50%)rotate(45deg);
    -webkit-transform:translateX(-50%)rotate(45deg);
    -moz-transform:translateX(-50%)rotate(45deg);
    -ms-transform:translateX(-50%)rotate(45deg);
    -o-transform:translateX(-50%)rotate(45deg);
    -khtml-transform:translateX(-50%)rotate(45deg);
}
.flame {
    position: absolute;
    right:0%;
    bottom:0%;
    width:0%;
    height:0%;
    background-color:#FFDC01;
    border-radius:1vw;
}
.flame:nth-child(2n + 1) {
    animation: flameodd 1.5s ease-in infinite;
    -webkit-animation: flameodd 1.5s ease-in infinite;
    -moz-animation: flameodd 1.5s ease-in infinite;
    -ms-animation: flameodd 1.5s ease-in infinite;
    -o-animation: flameodd 1.5s ease-in infinite;
    -khtml-animation: flameodd 1.5s ease-in infinite;
}
.flame:nth-child(2n) {
    animation: flameeven 1.5s ease-in infinite;
    -webkit-animation: flameeven 1.5s ease-in infinite;
    -moz-animation: flameeven 1.5s ease-in infinite;
    -ms-animation: flameeven 1.5s ease-in infinite;
    -o-animation: flameeven 1.5s ease-in infinite;
    -khtml-animation: flameeven 1.5s ease-in infinite;
}
.flame:nth-child(1) {
    animation-delay:0s;
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    -ms-animation-delay:0s;
    -o-animation-delay:0s;
    -khtml-animation-delay:0s;
}
.flame:nth-child(2) {
    animation-delay:0.375s;
    -webkit-animation-delay:0.375s;
    -moz-animation-delay:0.375s;
    -ms-animation-delay:0.375s;
    -o-animation-delay:0.375s;
    -khtml-animation-delay:0.375s;
}
.flame:nth-child(3) {
    animation-delay:0.75s;
}
.flame:nth-child(4) {
    animation-delay:1.125s;
    -webkit-animation-delay:1.125s;
    -moz-animation-delay:1.125s;
    -ms-animation-delay:1.125s;
    -o-animation-delay:1.125s;
    -khtml-animation-delay:1.125s;
}
.logs {
    position: absolute;
    bottom:25%;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -khtml-transform:translateX(-50%);
    width:100%;
    height:15%;
}
.logs:before, .logs:after {
    position: absolute;
    content: '';
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(20deg);
    -webkit-transform:translate(-50%,-50%) rotate(20deg);
    -moz-transform:translate(-50%,-50%) rotate(20deg);
    -ms-transform:translate(-50%,-50%) rotate(20deg);
    -o-transform:translate(-50%,-50%) rotate(20deg);
    -khtml-transform:translate(-50%,-50%) rotate(20deg);
    height:100%;
    width:100%;
    border-radius:1vw;
    background-color:#70392F;
}
.logs:before {
    transform:translate(-50%,-50%) rotate(-20deg);
    -webkit-transform:translate(-50%,-50%) rotate(-20deg);
    -moz-transform:translate(-50%,-50%) rotate(-20deg);
    -ms-transform:translate(-50%,-50%) rotate(-20deg);
    -o-transform:translate(-50%,-50%) rotate(-20deg);
    -khtml-transform:translate(-50%,-50%) rotate(-20deg);
    background-color:#612E25;
}
@keyframes flameodd {
   0%, 100% {
        width:0%;
        height:0%;
   }
   25% {
        width:100%;
        height:100%;
   }
   0% {
        background-color:#FFDC01;
        z-index:1000000;
   }
   40% {
        background-color:#FDAC01;
        z-index:1000000;
   }
   100% {
        background-color:#F73B01;
        z-index:-10;
   }
   0% {
        right:0%;
        bottom:0%;
   }
   25% {
        right:1%;
        bottom:2%;
   }
   100% {
        right:150%;
        bottom:170%;
   }
}
@keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
}
@-webkit-keyframes flameodd {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:1%;
        bottom:2%;
    }
    100% {
        right:150%;
        bottom:170%;
    }
}
@-webkit-keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
}
@-moz-keyframes flameodd {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:1%;
        bottom:2%;
    }
    100% {
        right:150%;
        bottom:170%;
    }
}
@-moz-keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
   }
   0% {
        background-color:#FFDC01;
        z-index:1000000;
   }
   40% {
        background-color:#FDAC01;
        z-index:1000000;
   }
   100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
}
@-ms-keyframes flameodd {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:1%;
        bottom:2%;
    }
    100% {
        right:150%;
        bottom:170%;
    }
}
@-ms-keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
}
@-o-keyframes flameodd {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
   100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:1%;
        bottom:2%;
    }
    100% {
        right:150%;
        bottom:170%;
    }
}
@-o-keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
}
@-khtml-keyframes flameodd {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:1%;
        bottom:2%;
    }
    100% {
        right:150%;
        bottom:170%;
    }
}
@-khtml-keyframes flameeven {
    0%, 100% {
        width:0%;
        height:0%;
    }
    25% {
        width:100%;
        height:100%;
    }
    0% {
        background-color:#FFDC01;
        z-index:1000000;
    }
    40% {
        background-color:#FDAC01;
        z-index:1000000;
    }
    100% {
        background-color:#F73B01;
        z-index:-10;
    }
    0% {
        right:0%;
        bottom:0%;
    }
    25% {
        right:2%;
        bottom:1%;
    }
    100% {
        right:170%;
        bottom:150%;
    }
}
